<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileName />
  <Dir>C:\Users\ns217476\Code\ScreenCapture\ScreenCapture\bin\Debug</Dir>
  <Type>jpg</Type>
  <DisplayNum>0</DisplayNum>
  <Keys>
    <unsignedInt>44</unsignedInt>
  </Keys>
</Config>
